@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========================== */
/* Base Styles                */
/* ========================== */
@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-openSansReg; /* Open Sans for global content */
    font-family: var(--font-openSans-v), sans-serif; /* Fallback in case of error */
  }

  :root {
    font-family: var(--font-ubuntu-r); /* Ubuntu Regular as a fallback */
  }
}

/* ========================== */
/* Utilities                  */
/* ========================== */
@layer utilities {
  .hero-bg {
    background-size: 100% 100%;
    background-position: 0 0;
    background-image: 
      radial-gradient(49% 81% at 45% 47%, #FFE20345 0%, #073AFF00 100%),
      radial-gradient(113% 91% at 198% -32%, #d5cea3 1%, #503c3c 99%),
      radial-gradient(142% 91% at 83% 7%, #FFDB00FF 1%, #FF000000 99%),
      radial-gradient(142% 91% at -6% 74%, #FF0049FF 1%, #FF000000 99%),
      radial-gradient(142% 91% at 111% 84%, #FF7000FF 0%, #FF0000FF 100%);
  }

  .no-visible-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
  }

  .no-visible-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
  }

  .animate-bounce-slow {
    animation: bounce-slow 1.5s infinite;
  }
}

/* ========================== */
/* Custom Scrollbar           */
/* ========================== */

/* Chrome, Safari, Edge */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #503c3c;
}

::-webkit-scrollbar-thumb {
  background: #d5cea3;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b8ad8c;
}

/* Firefox Scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #d5cea3 #503c3c; /* Thumb and track color */
}

/* ========================== */
/* Animations                 */
/* ========================== */
@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
