@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .hero-bg {
    background-size: 100% 100%;
    background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-image: radial-gradient(49% 81% at 45% 47%, #FFE20345 0%, #073AFF00 100%),
      radial-gradient(113% 91% at 198% -32%, #d5cea3 1%, #503c3c 99%),
      radial-gradient(142% 91% at 83% 7%, #FFDB00FF 1%, #FF000000 99%),
      radial-gradient(142% 91% at -6% 74%, #FF0049FF 1%, #FF000000 99%),
      radial-gradient(142% 91% at 111% 84%, #FF7000FF 0%, #FF0000FF 100%);
  }
}

:root {
  --background: #d5cea3;
  --foreground: rgb(80, 60, 60);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #503c3c;
    --foreground: #d5cea3;
  }
}

body {
  color: var(--background);
  background: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.hero-section {
  cursor: url('/cursor.cur'), auto; /* Custom cursor */
}