@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .hero-bg {
    background-size: 100% 100%;
    background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-image: radial-gradient(49% 81% at 45% 47%, #FFE20345 0%, #073AFF00 100%),
      radial-gradient(113% 91% at 198% -32%, #d5cea3 1%, #503c3c 99%),
      radial-gradient(142% 91% at 83% 7%, #FFDB00FF 1%, #FF000000 99%),
      radial-gradient(142% 91% at -6% 74%, #FF0049FF 1%, #FF000000 99%),
      radial-gradient(142% 91% at 111% 84%, #FF7000FF 0%, #FF0000FF 100%);
  }
}

:root {
  --background: #d5cea3;
  --foreground: #503c3c;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #503c3c; /* Track color */
}

::-webkit-scrollbar-thumb {
  background: #d5cea3; /* Thumb color */
  border-radius: 4px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #b8ad8c; /* Thumb color on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #d5cea3 #503c3c; /* Thumb color, Track color */
}


.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none;    /* Hide scrollbar for Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}


html{
  scroll-behavior: smooth;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #503c3c;
    --foreground: #d5cea3;
    /* --backgroudnd: #503c3ce1; */
    font-family: var('--font-ubuntu-r');
  }
}

body {
  /* color: var(--background);
  background: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}


.hero-section {
  cursor: url('/cursor.cur'), auto; /* Custom cursor */
}

@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 1.5s infinite;
}

